@model IEnumerable<History>
@{
    ViewData["Title"] = "Index";
}

<h1>History preview</h1>

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Previous days
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td width="50%">
                    @obj.HistoryId
                </td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="History" asp-action="ShowAssignments" asp-route-id="@obj.HistoryId"
                           class="btn btn-primary mx-2"><i class="bi bi-card-list"></i>Previous tasks</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>