@model IEnumerable<History>
@{
    ViewData["Title"] = "Index";
}

<h1>History preview</h1>

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Previous days
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td width="50%">
                    @obj.HistoryId
                </td>
            </tr>
        }
    </tbody>
</table>